body {
text-align: center;
background-size: cover;
color: #000;
font-family: 'Lato', sans-serif;
font-weight: normal;
font-size: 18px;
}

header {
}


nav{
background-color: #fff;
}

.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
}
.topnav a:hover {
  color: #21D378;
}
.topnav a.active {
  background-color: #21D378;
  color: white;
}

#coverphoto {
  background-color: #21D378;
  margin: 0 auto;
  background-size: cover;
}

/*Section 1 How it Works*/
#section1 {
}

#elevator_pitch {
  margin: 2em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 16px;
  padding-top: 2em;
  font-size: 25px;
  text-align: center;
}

#focuses {
  display:inline;
  font-size: 25px;
}

.focus {
  display: inline;
  font-size: 25px;
  text-align: center;
  padding: 14px 16px;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 36px;
}


h3{

font-family: 'Ubuntu', sans-serif;
font-weight: medium;
font-size: 30px;
}


#slogan{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 48px;

}


/*Section 1 How it Works*/


/*how it works steps*/

.hiw_column {
  display: inline-block;
  float:left;
  margin:2em;
  padding-left: 100px;
  padding-right: 100px;
}

.dtj {
  padding: 20px 20px;
  padding-right: 66px;
  float: left;
  width: 316px;
  height: 316px;
}

.dtj_text {
  padding: 20px 20px;
  padding-left: 66px;
  float: right;
  font-size: 25px;
  text-align: left;
  width: 775px;
  height: 316px;
  font-size: 25px;
}

.gm {
  padding: 20px 20px;
  padding-left: 66px;
  float: right;
  width: 316px;
  height: 316px;
}

.gm_text {
  padding: 20px 20px;
  padding-right: 66px;
  float: left;
  font-size: 25px;
  text-align: left;
  width: 775px;
  height: 316px;
  font-size: 25px;
}

.gdd {
  padding: 20px 20px;
  padding-right: 66px;
  float: left;
  font-size: 25px;
  text-align: left;
  width: 316px;
  height: 316px;
}

.gdd_text {
  padding: 20px 20px;
  padding-left: 66px;
  float: right;
  font-size: 25px;
  text-align: left;
  width: 775px;
  height: 316px;
  font-size: 25px;
}

/*<how it works steps*/


/*Why Green Drop*/

#section2 {
}

.img1 {
  float: left;
  width: 50%;
}

.p1 {
  float:right;
  text-align: center;
  font-size: 25px;
  width: 46%;
  padding: 2%;
  display: inline-block;
  height: 601px;
}


.p2 {
  float:left;
  text-align: center;
  font-size: 25px;
  padding-left: 20px;
  width: 46%;
  padding: 2%;
  display: inline-block;
  height: 601px;
}

.img2 {
  float: right;
  width: 50;
}

/*Why Green Drop*/

/*Reviews*/

#section3 {
background-color:#21D378;
width: 1440px;
height: 1024px;
font-size: 25px;
text text-align: center;
}


/*Reviews*/


footer { 
  display: block;
  background-color: #21D378;
  color: #fff;
  text-align: left;
  padding: 14px 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;

}