body {
text-align: center;
background-size: cover;
color: #000;
font-family: 'Lato', sans-serif;
font-weight: normal;
}


h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
}


h3{

font-family: 'Ubuntu', sans-serif;
font-weight: medium;

}


#slogan{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 48px;

}


.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
}
.topnav a:hover {
  color: #21D378;
}
.topnav a.active {
  background-color: #21D378;
  color: white;
}



footer { 
  display: block;
  background-color: #21D378;
  color: #fff;
  text-align: left;
  padding: 14px 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;

}