


.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: ubuntu;
}
.topnav a:hover {
  color: #21D378;
}
.topnav a.active {
  background-color: #21D378;
  color: white;
}